<section id="about" class="about-section">
    <a routerLink="/Home">Go to Home Page</a>
    <button (click)="navigateToHome()">Go to Home Page</button>
    <h2>About Us</h2>
    <div class="section-content">
        <div class="about-description">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada
                pharetra ut feugiat quisque odio nulla leo. Facilisis rhoncus gravida 
                integer risus, ac vulputate a. Elementum fermentum feugiat nunc cras ac 
                orci, amet sapien. Ut quis est, pellentesque in et ipsum.
            </p>
            <p>
                Enim eget faucibus eget enim leo nisl lorem feugiat feugiat. Pellentesque duis id
                vel tellus in nisi, enim tellus id. Sit dignissim dictum sit integer tortor porttitor
                erat risus libero. Netus pulvinar vivamus nec, nec morbi.
            </p>
        </div>

        <img src="assets/images/man.png" alt="">
    </div>
</section>