<div class="wrapper">
    <section id="contact" class="contact-section">
        <h2>Contact Us</h2>
        <form action="#">
            <div class="group">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
            </div>
            <div class="group">
                <textarea name="" id="" cols="30" rows="10" placeholder="your message"></textarea>
            </div>

            <a href="#" class="btn cyan">Send Message</a>
        </form>
    </section>
</div>